@font-face {
	font-family: 'Duplet-Bold';
	src: url('../fonts/Duplet-Bold-BF642a3406582e7.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Duplet-BoldItalic';
	src: url('../fonts/Duplet-Bolditalic-BF642a34065bd61.otf')
		format('opentype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Duplet-Extrabold';
	src: url('../fonts/Duplet-Extrabold-BF642a34066ffff.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Duplet-ExtraboldItalic';
	src: url('../fonts/Duplet-Extraboldltalic-BF642a34064c93d.otf')
		format('opentype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Duplet-Extralight';
	src: url('../fonts/Duplet-Extralight-BF642a34066d940.otf')
		format('opentype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Duplet-ExtralightItalic';
	src: url('../fonts/Duplet-Extralightltalic-BF642234062fad2.otf')
		format('opentype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Duplet-Italic';
	src: url('../fonts/Duplet-Italic-BF642a34058F127.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Duplet-Light';
	src: url('../fonts/Duplet-Light-BF642234063c321.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Duplet-LightItalic';
	src: url('../fonts/Duplet-Lightltalic-BF6422340624d9b.otf')
		format('opentype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Duplet-Regular';
	src: url('../fonts/Duplet-Regular-BF6422340663b06.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Duplet-Semibold';
	src: url('../fonts/Duplet-Semibold-BF642a34066f658.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Duplet-SemiboldItalic';
	src: url('../fonts/Duplet-Semibolditalic-BF6422340662c47.otf')
		format('opentype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Duplet-Thin';
	src: url('../fonts/Duplet-Thin-BF6422340659e70.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Duplet-ThinItalic';
	src: url('../fonts/Duplet-Thinltalic-BF642a24061eee3.otf')
		format('opentype');
	font-weight: 100;
	font-style: italic;
}

body {
	background-color: #1b1b1b;
	font-style: normal;
	font-family: 'Duplet-Regular', sans-serif;
}

/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button,
input[type='submit'] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

.scroll-block {
	overflow: hidden;
}
.d-none {
	display: none;
}

.container {
	max-width: 960px;
	padding: 0 15px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	overflow: hidden;
}

.header__icon {
	display: flex;
	gap: 40px;
	align-items: center;
}
.header__arrow-back,
.header__notification {
	cursor: pointer;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: flex-end;
}

.header__edit {
	width: 24px;
	height: 24px;
	background: url('../img/edit.svg') no-repeat;
	background-size: cover;
}
.header__close {
	display: none;
}

.welcome {
	text-align: center;
	padding: 0 20px;
}
.welcome__title {
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.03em;
	color: #fff;
	margin: 0;
	text-align: left;
}
.brand-selection__content .welcome__title {
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
}
.welcome__name {
	font-size: 18px;
	text-align: left;
	font-weight: 600;
	font-size: 32px;
	letter-spacing: 0.02em;
	color: #fff;
}
.brand-selection__search {
	max-width: 730px;
	width: 100%;
	padding: 15px;
	border: 1px solid #a3a3a3;
	border-radius: 16px;
	margin: 24px 0 48px;
	color: white;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	position: relative;
}
.brand-selection__search::-webkit-search-cancel-button {
	-webkit-appearance: none;
	cursor: pointer;
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 16px;
	right: 16px;
	background: url('../img/close.svg') no-repeat;
	background-size: cover;
}
.brand-selection__form {
	position: relative;
	margin-top: 108px;
}
.brand-selection__header::after {
	z-index: -1;
	content: '';
	width: 627px;
	height: 547px;
	border-radius: 50%;
	position: absolute;
	bottom: -109px;
	left: -200px;
	pointer-events: none;
	background: url('../img/bg\ circle\ top.png') no-repeat;
	background-size: cover;
}
.brand-selection__form label {
	color: rgb(114, 114, 114);
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	position: absolute;
	pointer-events: none;
	position: absolute;
	transition: all 200ms;
	top: 41px;
	left: 16px;
}

.brand-selection__search:focus,
.brand-selection__search:not(:placeholder-shown) {
	border-color: white;
}
.brand-selection__search:focus + label,
.brand-selection__search:not(:placeholder-shown) + label {
	top: 13px;
	left: 16px;
	font-size: 12px;
	background: rgb(29 21 25);
	padding: 2px 4px;
	color: white;
	border-radius: 2px;
}

.wrapper-tablet {
	position: relative;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background: linear-gradient(
		136deg,
		#ffbc3b 0%,
		#ff4f40 53.31%,
		#d12a88 100%
	);
	border-radius: 21px;
	height: 260px;
	height: 226px;
	box-shadow: 3px 4px 13px 0 rgba(91, 7, 48, 0.4);
	gap: 0px;
	position: relative;
	opacity: 0px;
	overflow: hidden;
	margin: 20px;
	transition: 0.5s;
	justify-content: space-between;
	z-index: -1;
}

.cifra {
	position: absolute;
	font-weight: 600;
	font-size: 8px;
	text-align: center;
	color: #fff;
	border-radius: 100px;
	width: 14px;
	height: 14px;
	background: #c01760;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 18px;
	top: 7px;
}

.bg-css {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 550px;
	background-size: contain;
	left: 0;
	bottom: -190px;
	overflow: hidden;
	z-index: -1;
	max-width: 100%;
	pointer-events: none;
}

.bg-css img {
	width: 550px;
	max-width: 550px;
	position: absolute;
	bottom: -250px;
	left: -89px;
}

.bonus-image {
	width: 96px;
	height: 72px;
	border-radius: 10px;
	object-fit: cover;
}

.bonus-block:nth-child(2) {
	background: linear-gradient(
		89.95deg,
		rgba(254, 90, 20, 0.1) 25.36%,
		rgba(255, 188, 59, 0.1) 50.04%,
		rgba(255, 25, 25, 0.1) 73.22%
	);
	border: 1px solid #ff4f404f;
	box-shadow: 0px 4px 15px 0px rgba(250, 100, 73, 0.25);
}

.bonus-block:nth-child(2) button {
	border: 1px solid #ff4f404f;
	box-shadow: 0px 4px 15px 0px rgba(250, 100, 73, 0.25);
}

.bonus-block:nth-child(3) button {
	border: 1px solid #614876;
	/* border-image-source: linear-gradient(142.5deg, rgba(86, 83, 250, 0.59) 21.71%, rgba(255, 255, 255, 0) 80.87%); */
	box-shadow: 0px 4px 15px 0px rgba(130, 73, 250, 0.25);
}

.bonus-block:nth-child(3) {
	background: linear-gradient(
		89.95deg,
		rgba(59, 94, 255, 0.1) 25.36%,
		rgba(160, 158, 255, 0.1) 49.29%,
		rgba(168, 56, 255, 0.1) 73.22%
	);
	border: 1px solid #614876;
	/* border-image-source: linear-gradient(142.5deg, rgba(86, 83, 250, 0.59) 21.71%, rgba(255, 255, 255, 0) 80.87%); */
	box-shadow: 0px 4px 15px 0px rgba(130, 73, 250, 0.25);
}

.bg-cs {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 550px;
	background-size: contain;
	left: 0;
	top: 0;
	overflow: hidden;
	max-width: 100%;
	pointer-events: none;
}

.bg-cs img {
	width: 550px;
	height: 550px;
	max-width: 550px;
	position: absolute;
	top: -250px;
	left: -89px;
}

.header__notification {
	position: relative;
}

.card__details {
	display: flex;
	gap: 12px;
	align-items: flex-end;
}

.card-ovelay img {
	position: absolute;
	mix-blend-mode: overlay;
	width: 100%;
	height: 226px;
	top: 0;
	left: 0;
}
.card__logos {
	position: relative;
	z-index: 9;
}

.card__details p {
	line-height: 100%;
}

.card__logos {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.card__info {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 20px;
	position: relative;
	z-index: 9;
	align-items: flex-end;
}

.card::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url(img/022b121bae9226d895a5c1805d3fac23.png);
	mix-blend-mode: overlay;
	background-size: 19%;
}

.card__name {
	font-weight: 400;
	font-size: 22px;

	letter-spacing: 0.02em;
	color: #fff;
	opacity: 0.8;
}
.card__status {
	opacity: 0.6;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.03em;
	color: #fff;
}
.card__level {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	text-align: right;
	color: #fff;
	opacity: 0.6;
	line-height: 100%;
}

/* Стили для табов */
.tabs {
	display: flex;
	justify-content: center;
	margin-bottom: 24px;
	gap: 24px;
}
.tab {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.03em;
	color: #727272;
	transition: 0.3s;
}
.tab.active {
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.03em;
	color: #fff;
	position: relative;
}

.tab.active::before {
	content: '';
	display: block;
	border-radius: 20px;
	width: 32px;
	height: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 450%);
	background: linear-gradient(
		90deg,
		#ffbc3b 0%,
		#ff6051 50%,
		#ff4ab0 100%,
		#ff4aac 100%
	);
}

.tab-content {
	display: none;
	padding: 0 20px;
}
.tab-content.active {
	display: block;
	padding: 0;
}

.progress-block {
	background: linear-gradient(
		93.88deg,
		rgba(255, 74, 183, 0.3) 0%,
		rgba(255, 74, 183, 0.06) 100%
	);
	border-radius: 8px;
	padding: 12px 12px;
}

.progress-title {
	font-weight: 400;
	font-size: 12px;
	margin-bottom: 5px;
	letter-spacing: 0.04em;
	color: #c2c2c2;
}

.progress-level {
	font-weight: 600;
	font-size: 20px;

	letter-spacing: 0.03em;
	color: #fff;
}

.progress-bar {
	width: 100%;
	height: 10px;
	background: #575757;
	margin-bottom: 12px;
	border-radius: 5px;
	overflow: hidden;
}

.progress-bar-fill {
	height: 100%;
	background: linear-gradient(
		90deg,
		#ffbc3b 0%,
		#ff6051 50%,
		#ff4ab0 100%,
		#ff4aac 100%
	);
	border-radius: 5px;
}

.progress-info {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 10px;
}

.progress-proc {
	position: absolute;
	right: 0;
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.03em;
	text-align: right;
	color: #fff;
	bottom: -27px;
}

.progress-number {
	font-weight: 600;
	font-size: 36px;
	text-transform: capitalize;
	background: linear-gradient(
		90deg,
		#ffbc3b 0%,
		#ff6051 50%,
		#ff4ab0 100%,
		#ff4aac 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.brands-title {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.03em;
	color: #fff;
	margin-top: 24px;
	text-align: center;
	margin-bottom: 16px;
}

.brands-count {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.03em;
	text-align: center;
	color: #a3a3a3;
	border: 1px solid #575757;
	border-radius: 16px;
	margin-left: 15px;
	width: 50px;
	display: flex;
	height: 50px;
	align-items: center;
	justify-content: center;
}

.add-more-button {
	width: 125px;
	height: 40px;
	font-weight: 600;
	font-size: 13px;
	line-height: 100%;
	letter-spacing: 0.04em;
	text-align: center;
	color: #f5f5f5;
	display: flex;
	text-align: center;
	position: relative;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-top: 15px;
}

.add-more-button::before {
	content: '';
	background-image: url(img/Button.svg);

	width: 125px;
	height: 40px;
	position: absolute;
	display: block;
}

.brands-images {
	display: flex;
	align-items: center;
	justify-content: center;
}

.brands-images img {
	margin-left: -22px;
}

.weekly-wrapper {
	display: flex;
	background: linear-gradient(
		93.88deg,
		rgba(255, 74, 183, 0.3) 0%,
		rgba(255, 74, 183, 0.06) 100%
	);
	border-radius: 8px;
	gap: 15px;
	padding: 12px 12px;
	align-items: center;
}

.weekly-bonus-block h2 {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.03em;
	color: #fff;
	margin-bottom: 5px;
}

.bonus-details {
	flex: 1;
}

.bonus-text {
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.03em;
	color: #fff;
}

.get-button {
	font-weight: 600;
	font-size: 13px;
	line-height: 100%;
	letter-spacing: 0.04em;
	text-align: center;
	background: linear-gradient(
		90deg,
		rgba(255, 155, 60, 0.8) 0%,
		rgba(255, 79, 64, 0.8) 50%,
		rgba(219, 50, 120, 0.8) 100%
	);
	color: #f5f5f5;
	border-radius: 100px;
	border: 1px solid rgba(255, 155, 60, 0.8);
	padding: 12px 24px;
	width: 73px;
	height: 40px;
}

.vip-concierge-block {
	background: #353535;
	padding: 11px;
	box-shadow: 3px 5px 15px 0 rgba(91, 7, 48, 0.4);
	display: flex;
	gap: 10px;
	margin-top: 24px;
	border-radius: 100px;
	align-items: center;
	position: sticky;
	bottom: 10px;
}

.vip-info-c {
	flex: 1;
}

.vipchats {
	border: 1px solid #575757;
	border-radius: 48px;
	width: 48px;
	height: 48px;
}

.manager-info {
	display: flex;
}

.vip-title {
	font-weight: 600;
	font-size: 14px;
	line-height: 129%;
	letter-spacing: 0.04em;
	color: #fff;
}

.manager-name {
	font-weight: 400;
	font-size: 14px;
	line-height: 129%;
	letter-spacing: 0.04em;
	color: #a3a3a3;
}

.manager-status {
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 0.04em;
	color: #30e758;
}

.manager-status::before {
	content: '';
	background-color: #30e758;
	border-radius: 100%;
	width: 8px;
	margin-right: 10px;
	height: 8px;
}

.start-chat-button {
	font-weight: 600;
	font-size: 13px;
	line-height: 100%;
	letter-spacing: 0.04em;
	text-align: center;
	color: #1b1b1b;
	border-radius: 100px;
	padding: 12px 16px;
	width: 103px;
	background: #fff;
	opacity: 0.8;
	height: 40px;
}

.bonus-block {
	box-shadow: 0px 4px 15px 0px rgba(193, 244, 161, 0.15);
	border-radius: 20px;
	background: linear-gradient(
		90deg,
		rgba(46, 163, 128, 0.1) 8.91%,
		rgba(231, 248, 153, 0.1) 47.84%,
		rgba(136, 209, 29, 0.1) 92.77%
	);
	display: flex;
	gap: 15px;
	border: 1px solid #97dd313d;
	padding: 12px;
	position: relative;
	align-items: center;
}

.get-bonus-button {
	position: absolute;
	bottom: -30px;
	right: -7px;
	padding: 20px;
	background: #1b1b1b;
	color: #fff;
	border-radius: 100px;
	box-shadow: 0px 4px 15px 0px rgba(193, 244, 161, 0.15);
	border: 1px solid #97dd313d;
}

.sa .bonus-text {
	font-weight: 600;
	font-size: 18px;
	line-height: 133%;
	letter-spacing: 0.03em;
	color: #fff;
}

.bonus-block {
	margin-bottom: 50px;
}

.vip-concierge-block {
	margin-bottom: 50px;
}

/* уведомления */
.notificate {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	max-height: 100dvh;
	height: 100%;
	background-color: #1b1b1b;
	z-index: 3;
	overflow-y: scroll;
	overflow-x: hidden;
	transform: translateX(100%);
	transition: transform 0.5s;
}

.notificate::-webkit-scrollbar {
	width: 5px;
  }
   
  .notificate::-webkit-scrollbar-track {
	background-color:transparent;
	border-radius: 8px;
  }
   
  .notificate::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color:rgb(87, 87, 87);
  }

.notificate--open {
	transform: translateX(0%);
}

.circle-back-red {
	position: absolute;
	width: 547px;
	height: 547px;
	pointer-events: none;
	filter: blur(107px);
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgb(172, 63, 95),
		rgba(172, 63, 95, 0) 100%
	);
	opacity: 0.7;
	z-index: -1;
}
.circle-back-red--top {
	top: -100px;
	left: -100px;
}
.circle-back-red--bottom {
	bottom: 0;
	right: -192px;
}

.circle-back-blue {
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgb(44, 43, 101),
		rgba(44, 43, 101, 0) 100%
	);
	filter: blur(40px);
}
.circle-back-blue--rigth {
	top: -47px;
	right: -143px;
}
.circle-back-blue--left {
	top: 214px;
	left: -118px;
}

.notificate__header {
	padding: 30px 30px 16px;
	display: grid;
	grid-template-columns: 24px auto;
	align-items: center;
	row-gap: 15px;
	position: sticky;
	top: 0;
	left: 0px;
	right: 0px;
	background-color: #1d1c1c;
	z-index: 2;
	/* position: relative; */
}
.notificate__header::after {
	content: '';
	width: 547px;
	height: 547px;
	pointer-events: none;
	filter: blur(160px);
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgb(172, 63, 95),
		rgba(172, 63, 95, 0) 100%
	);
	opacity: 0.7;
	z-index: -1;
	top: -100px;
	left: -100px;
	position: absolute;
}
.notificate__header::before {
	content: '';
	position: absolute;
	width: 547px;
	height: 547px;
	pointer-events: none;
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgb(44, 43, 101),
		rgba(44, 43, 101, 0) 100%
	);
	filter: blur(40px);
	opacity: 0.4;
	z-index: -1;
	top: -97px;
	right: -163px;
}
.notificate__close {
	width: 16px;
	height: 16px;
	background: url(../img/arrow.svg) no-repeat;
	background-size: contain;
}
a.notificate__link {
	color: rgb(194, 194, 194);
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	text-decoration-line: underline;
	text-underline-offset: 2px;
	justify-self: flex-end;
}

.notificate__inner {
	margin-top: 10px;
}

.notificate__title {
	color: rgb(255, 255, 255);
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	grid-column: span 2;
}

.notif-message {
	padding: 12px 16px;
	display: grid;
	grid-template-columns: 24px auto 24px;
	column-gap: 12px;
	border-radius: 25px 0px 25px 25px;
	background: linear-gradient(
		135deg,
		rgba(194, 194, 194, 0.6) 0%,
		rgba(194, 194, 194, 0.06) 100%
	);
}
.notif-message:not(:last-child) {
	margin-bottom: 4px;
}

.notif-message-no-border__title,
.notif-message__text,
.notif-message__btn,
.notif-message-no-border__time,
.notif-message__title {
	pointer-events: none;
}

.notif-message__icon {
	width: 24px;
	height: 24px;
	background-color: white;
	display: inline-block;
	mask-size: contain;
	mask-repeat: no-repeat;
}
.notif-message-no-border .notif-message__icon{
	background-color: rgb(114, 114, 114);
}

.notif-message__title {
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	margin-bottom: 2px;
}
.notif-message__text {
	color: rgb(255, 255, 255);
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	margin-bottom: 4px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	transition: all 3s;
}
.notif-message__text--all {
	-webkit-line-clamp: none;
}
.notif-message__time {
	color: rgb(194, 194, 194);
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.notif-message__btn {
	display: inline-block;
	color: rgb(27, 27, 27);
	font-size: 12px;
	font-weight: 600;
	line-height: 12px;
	padding: 12px 16px;
	border-radius: 100px;
	background: rgb(255, 255, 255);
	opacity: 0.8;
	margin-top: 4px;
}

.notif-message__dott {
	width: 8px;
	height: 8px;
	background-color: #c01760;
	border-radius: 50%;
	align-self: center;
}

.notif-message-no-border {
	padding: 12px 16px;
	display: grid;
	grid-template-columns: 24px auto;
	column-gap: 12px;
}
.notif-message-no-border__title {
	color: rgb(114, 114, 114);
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}
.notif-message-no-border__text {
	color: rgb(114, 114, 114);
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}
.notif-message-no-border__time {
	color: rgb(87, 87, 87);
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
a.notif-message-no-border__text-link {
	color: rgb(255, 255, 255);
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	text-decoration: underline;
	text-underline-offset: 2px;
	margin-top: 9px;
}

/* brand */
.brand-selection {
	overflow: hidden;
}
.brand-selection__content {
	padding-bottom: 64px;
}
.brand-selection__header {
	overflow: visible;
	position: relative;
	flex-direction: column;
	gap: 25px;
	position: fixed;
	top: 0;
	/* left: 0; */
	background-color: rgb(27, 27, 27);
	opacity: 1;
	z-index: 2;
	width: 100%;
}
.brand-selection__header .header__arrow-back {
	justify-content: flex-start;
	align-self: flex-start;
	padding: 10px 0 0 0;
}
.brand-selection__header .welcome {
	padding: 0;
}
.brand-list__title {
	color: rgb(194, 194, 194);
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	margin-bottom: 8px;
}
.brand-list__items {
	display: grid;
	max-width: 570px;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 80px;
	gap: 12px;
}
.brand-list__item {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 16px;
	align-self: stretch;
	cursor: pointer;
}
.brand-list__item--favorite {
	border: 2px solid rgb(255, 89, 112);
	position: relative;
}

.favorite-remove-btn {
	width: 30px;
	height: 30px;
	background-color: rgb(27, 27, 27);
	background-image: url(../img/remove.png);
	background-repeat: no-repeat;
	background-size: 22px 22px;
	background-position: center;
	border-radius: 50%;
	position: absolute;
	top: -10px;
	right: -10px;
}

.brand-list__item--choosing {
	border: 2px solid rgb(255, 89, 112);
	position: relative;
}
.brand-list__item--choosing::after {
	content: '';
	width: 30px;
	height: 30px;
	background-color: rgb(27, 27, 27);
	background-image: url(../img/ok.png);
	background-repeat: no-repeat;
	background-size: 22px 22px;
	background-position: center;
	border-radius: 50%;
	position: absolute;
	top: -10px;
	right: -10px;
}

.search-brand {
	margin-bottom: 48px;
}
.your-brand {
	margin-bottom: 64px;
}
.your-brand__grid {
	row-gap: 24px;
}
.brand-selection__btn-wrapp {
	position: fixed;
	bottom: 16px;
	left: 0;
	width: 100%;
	text-align: center;
}
.btn-add-favorite {
	max-width: 360px;
	width: 100%;
	padding: 19px 10px;
	text-align: center;
	box-shadow: inset 2px 2px 8px 0px rgb(0 0 0 / 19%);
	background: linear-gradient(
				90deg,
				rgb(224, 131, 60),
				rgb(224, 72, 62) 50%,
				rgb(196, 50, 105) 100%
			)
			padding-box,
		linear-gradient(
				90deg,
				rgb(224, 131, 60),
				rgb(224, 72, 62) 50%,
				rgb(196, 50, 105) 100%
			)
			border-box;
	border: 2px solid transparent;
	color: white;
	border-radius: 100px;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	margin: 0 auto;
}

.bg-cs-bottom::after {
	z-index: -1;
	content: '';
	width: 627px;
	height: 547px;
	border-radius: 50%;
	position: fixed;
	bottom: -63px;
	pointer-events: none;
	background: url('../img/bg\ circle\ top.png') no-repeat;
	background-size: cover;
}

/* profile */
.profile {
	padding-bottom: 20px;
}
.profile__header {
	flex-direction: column;
	padding-bottom: 10px;
}
.profile__title {
	padding-left: 20px;
	color: white;
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
}
.profile .header__arrow-back {
	justify-content: flex-start;
	align-self: flex-start;
}
.profile .welcome {
	padding: 0;
}
.profile .welcome__title {
	color: rgb(255, 255, 255);
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
}
.profile .header__arrow-back {
	padding: 10px 0;
}
.profile__content {
	display: flex;
	flex-direction: column;
	gap: 64px;
}

.input-block {
	position: relative;
}
.profile-info {
	display: flex;
	flex-direction: column;
	gap: 14px;
	margin: 24px 0 0;
}

.profile-info label {
	top: 17px;
}
.profile-info__input {
	margin: 0;
}
.profile-info__input[type='tel'] {
	padding-left: 75px !important;
}
.profile-info__input:focus + label,
.profile-info__input:not(:placeholder-shown) + label {
	top: -10px;
	left: 16px;
	font-size: 12px;
	background: rgb(27, 27, 27);
	padding: 2px 4px;
	color: rgb(163, 163, 163);
	border-radius: 2px;
}

.iti.iti--allow-dropdown.iti--show-flags.iti--inline-dropdown {
	width: 100%;
}
.iti__search-input {
	visibility: hidden;
}
.iti__selected-country-primary .iti__flag {
	background: none;
	border: none;
	box-shadow: none;
	position: relative;
}
.iti__selected-country-primary .iti__flag::before {
	content: '';
}

.iti__country-container:has(.iti__hide) .iti__flag.iti__globe::before {
	color: rgb(163, 163, 163);
}
.iti__selected-country-primary .iti__flag.iti__globe::before {
	content: 'code';
	color: rgb(255, 255, 255);
	position: absolute;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	transition: color 0.3s;
}
.iti__country-container:has(.iti__hide) .iti__arrow::after {
	transform: rotate(0deg);
	background-color: rgb(163, 163, 163);
}
.iti__arrow {
	margin-left: 33px;
	position: relative;
	border: none;
}
.selected-country-choosed .iti__arrow::after {
	top: -4px;
}
.iti__arrow::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 6px;
	background-color: white;
	display: inline-block;
	mask: url('../img/arrow-accord.svg') no-repeat;
	mask-size: contain;
	top: -2px;
	left: -2px;
	transform: rotate(-180deg);
	transition: all 0.3s;
}
.profile__content .tel-choose-label {
	top: -10px;
	left: 16px;
	font-size: 12px;
	background: rgb(27, 27, 27);
	padding: 2px 4px;
	color: rgb(163, 163, 163);
	border-radius: 2px;
}

.selected-country-choosed .iti__selected-dial-code {
	order: -1;
	margin-left: 16px;
	color: white;
	font-size: 14px;
}
.selected-country-choosed .iti__arrow {
	margin-left: -14px;
}

.profile__content .selected-country-choosed .iti__arrow::after {
	transform: rotate(-180deg);
	background-color: rgb(255, 255, 255);
}

.iti--inline-dropdown .iti__dropdown-content {
	border: none;
	box-shadow: none;
	margin-top: 10px;
	background-color: transparent;
}
.iti__country-list {
	background-color: #353535;
	border-radius: 16px;
	padding: 16px 10px;
}

.iti__country-list::-webkit-scrollbar {
	width: 5px;
}

.iti__country-list::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 10px;
}

.iti__country-list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #575757;
	height: 64px;
}

.iti__country {
	display: grid;
	grid-template-columns: 36px 16px auto;
	column-gap: 8px;
}
.iti__country-list .iti__flag,
.iti__country-name {
	margin-right: 0;
}
.iti__dial-code {
	order: -1;
	color: white;
}
.iti__country-name {
	color: #727272;
}

.password-show {
	width: 16px;
	height: 16px;
	position: absolute;
	right: 16px;
	top: 18px;
	background-size: contain;
}
.password-show._hide {
	background-image: url('../img/hide.svg');
}
.password-show._show {
	background-image: url('../img/show.svg');
}

.btn-submit {
	color: #1b1b1b;
	border-radius: 100px;
	/* Neutral/100 */
	background: rgb(255, 255, 255);
	opacity: 0.8;
	padding: 12px 24px;
	font-size: 14px;
	font-weight: 600;
	line-height: 14px;
}
.btn-submit--disable {
	color: rgb(114, 114, 114);
	background: rgb(53, 53, 53);
	opacity: 0.3;
}

.change-success-password {
	color: rgb(192, 23, 96);
	font-size: 14px;
	font-weight: 600;
	line-height: 14px;
	text-align: center;
	position: relative;
}
.change-success-password p::before {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/success.svg) no-repeat;
	background-size: contain;
	position: relative;
	top: 3px;
	left: -10px;
}

.blur {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(27, 27, 27, 0.7);
	backdrop-filter: blur(8px);
	height: 100vh;
	width: 100vw;
	z-index: 2;
}

/* адоптив */
@media (min-width: 600px) {
	.brand-selection__header {
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		max-width: 794px;
		margin: 0 auto;
	}
	.brand-selection__header .header__arrow-back {
		padding: 10px;
		padding-left: 0;
	}
	.brand-selection__form {
		margin-top: 80px;
	}
	.brand-selection__content {
		max-width: 794px;
		margin: 0 auto;
	}
	.brand-list__items {
		max-width: 794px;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: 97px;
	}
	.bg-cs-bottom::after {
		right: 0;
	}

	.profile-info-date {
		max-width: 420px;
		width: 100%;
		margin: 0 auto;
	}
	.profile-info {
		margin-top: 24px;
	}
}
@media (min-width: 768px) {
	.tabs {
		display: none;
	}
	.tab-content {
		display: block;
	}
	.wrapper-tablet {
		display: flex;
	}
	.wrapper-tablet__right {
		flex: 1 1 calc(320 / 770 * 100%);
	}
	.wrapper-tablet__left {
		flex: 1 1 calc(402 / 770 * 100%);
		margin-top: 75px;
	}
	.vip-concierge-block {
		position: static;
	}
	.vip-concierge-block--week {
		display: none;
	}
	.weekly-bonus-block {
		margin-bottom: 48px;
	}

	.brand-selection {
		overflow: visible;
	}

	.notificate {
		width: 50vw;
		left: auto;
		right: 0;
	}
}

@media (min-width: 1024px) {
	.header {
		justify-content: flex-end;
	}
	.header__arrow-back {
		display: none;
	}
	.header__close {
		display: block;
		width: 24px;
		height: 24px;
		background: url('../img/close.svg') no-repeat;
		background-size: cover;
	}

	.brand-selection__content {
		max-width: 730px;
		margin: 0 auto;
	}
	.brand-list__items {
		max-width: 730px;
		grid-template-columns: repeat(5, 1fr);
	}
	.brand-selection .header__arrow-back {
		display: block;
	}
	.brand-selection .header {
		justify-content: flex-start;
	}
	.brand-selection__header {
		max-width: none;
	}

	.container .profile {
		max-width: 892px;
	}
	.profile .header__arrow-back {
		display: block;
	}
	.profile__content {
		max-width: 794px;
		flex-direction: row;
		margin: 48px auto 0;
	}
}
